.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.flex {
  display: flex; }

.m-r-1 {
  margin-right: 1rem; }

.radius {
  border-radius: 15px; }

.position-absolute {
  position: absolute; }

main {
  padding: 4rem;
  font-family: Poppins, serif; }

body:before {
  content: url("images/Circle.png");
  position: absolute;
  z-index: -1; }

.main-h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #758091;
  text-align: center;
  margin-bottom: 5rem; }

.info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem; }

.col {
  display: grid;
  grid-gap: 1rem;
  height: fit-content; }

.card {
  border: 1px solid #E9ECF2;
  box-sizing: border-box;
  filter: drop-shadow(0px 3px 20px rgba(157, 175, 181, 0.25));
  border-radius: 15px; }

.big-card_content {
  font-size: 14px;
  line-height: 150%;
  color: #232527;
  margin: 10px; }

.card_h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #293238;
  margin: 0; }

.card_h4 {
  font-size: 14px;
  line-height: 20px;
  color: #293238;
  opacity: 50%;
  margin: 0; }

.small-card {
  font-size: 14px;
  line-height: 21px;
  padding: 10px; }

@media (max-width: 1100px) {
  .info {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 900px) {
  .info {
    grid-template-columns: 1fr; } }
